<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-zu/UeIMyZf8M6N8f1wp4DZl1pmzQ0HthzcbWCE8sIf3ilrS07qKZTL19TJ1Q9pZ6gze1iTO0jvjN3AfTqEfiTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="sidebar">       
        <div class="sidebar-header">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </div>
        <div class="sidebar-menu">
            <a href="#" class="menu-item">
                <i class="fas fa-bolt"></i>
                <span>Intensity</span>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-chart-line"></i>
                <span>Likelihood</span>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-tags"></i>
                <span>Topics</span>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-globe"></i>
                <span>Region</span>
            </a>
        </div>
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
